/* General styles */

* { 
    margin: 0px;
    color: white;
    font-family: 'proxima-nova', sans-serif;
}

body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    background-color: #353535;
}

h1{
   font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
   font-weight: normal;
}

.rightSideWrapper {
    width: 85%; /*same as header*/
	float: right;
}

header {
    position: fixed;
	width: 85%;	
	height: 120px;  
    background-color: #292929;
}

.sidebar {
    position: fixed; 
	height: 100%;
	width: 15%; /*same as header minus 100%*/
	margin: 0px;
    background-color: #000;  
}

#sidebarTitle {
    font-size: medium;
    border-bottom: 2px solid white;
    margin: 20px auto auto 20px;
    width: 150px;
}

#headerTitle {
    font-size: medium;
    border-bottom: 2px solid white;
    margin: 20px auto 5px 60px;
    width: 300px;
}

main {
    height: 400px;
    order: 1;
    flex: 0 1 100%;
}

.viz-container{
    margin-top: 120px; /*same as header height*/
	display: flex;
	flex-flow: row wrap;
}

/* Menu style */

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px auto auto 20px;
    font-size: 22px;
}

li {
    padding-bottom: 5px;
}

li:hover {
    cursor: pointer;
}

li.selected { 
    color: #1db954;
    font-weight: 550;
}

/* Header Styles */

form {
    display: flex;
    flex-flow: column wrap;
}

.suggestboxes {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.suggestbox {
    margin: 5px auto 5px 90px;
}

.toogle {
    margin: 5px auto 5px 85px;
}

.datepickers {
    display: flex;
    justify-content: space-between;
}

.datepicker {
    margin: 0px 40px 5px 85px;
    justify-content: space-between;
}

input {
    background-color: #292929;
    border: none;
    border-bottom: 1px solid white;
    margin: 5px;
}

input[type='submit'] {
    border: 2px solid white;
    margin: 0px auto 5px auto;
    height: 30px;
    background-color: #1db954;
    border-radius: 17px;
}

input[type='submit']:hover {
    cursor: pointer;
}

input[type='submit']:disabled {
    background-color: #999999;
    border-color: #999999;
}

/*Trick to overlaps browser radio button, since we can't change the style*/
input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: 292929;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #1db954;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1db954;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #292929;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

/*------------------------------------------------------*/

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input:focus {
    outline: none;  
}

select {
    color: black;
}

select:focus {
    outline: none;
}

option {
    color: black;
}

.option {
    display: inline-block;
    font: 400 13.3333px Arial;
    text-align: center;
    width: 53px;
}

/* ----------------Legend styles -----------------*/

#legendtitle{
    font-size:15px;
}

.legend.max, .legend.min {
    font-size : 12px;
}

.legendlabel{
    font-size : 14px;
}

/* ---------------- Visualisation styles -----------------*/

.titre-viz {
    font-size: 20px;
}

.date-viz {
    font-size: 12px;
}


.percentage-streams, .nbstreams-values {
    font-size : 13px;
}

.trackname-viz {
    font-size : 13px;
    cursor: pointer;
}

.trackname-viz:hover {
    fill: #1db954;
}

.error-viz {
    font-size: 14px;
}


/* ---------------- Tooltip styles -----------------*/

.d3-tip {
    line-height: 1;
    font-weight: normal;
    padding: 12px;
    background: #292929;
    border-radius: 2px;
    pointer-events: none;
  }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #292929;
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

.tooltip-value-streams {
    font-size: 12px;
    color: #1db954;
}

.tooltip-value-total {
    font-size: 12px;
    color: #FF7C00;
}

/* ---------------- Onboarding : Shepherd Tour ---------------- */
.shepherd-button{
    background:#1db954;
    border:0;
    border-radius:3px;
    color:hsla(0,0%,100%,.75);
    cursor:pointer;
    margin-right:.5rem;
    padding:.5rem 1.5rem;
    transition:all .5s ease}
.shepherd-button:not(:disabled):hover{
    background:#158a3f;
    color:hsla(0,0%,100%,.75)}

.shepherd-button.shepherd-button-secondary{
    background:#f1f2f3;
    color:rgba(0,0,0,.75)}
.shepherd-button.shepherd-button-secondary:not(:disabled):hover{
    background:#d6d9db;
    color:rgba(0,0,0,.75)}

.shepherd-button.shepherd-button-third{
        background:#FF7C00}
.shepherd-button.shepherd-button-third:not(:disabled):hover{
        background:#BF5D00}

.shepherd-button:disabled{cursor:not-allowed}

.shepherd-footer{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    display:flex;
    justify-content:flex-end;
    padding:0 .75rem .75rem}
.shepherd-footer .shepherd-button:last-child{margin-right:0}

.shepherd-text{
    color:rgba(0,0,0,.75);
    font-size:1rem;
    line-height:1.3em;
    padding:.75em}
.shepherd-text p{margin-top:0}
.shepherd-text p:last-child{margin-bottom:0}

.shepherd-content{
    color:rgba(0,0,0,.75);
    background:#e6e6e6;padding:1em;
    z-index: 999;
    border-radius:5px;
    outline:none;
    padding:0}

.shepherd-element{
    background:#fff;
    border-radius:5px;
    box-shadow:0 1px 4px rgba(0,0,0,.2);
    max-width:400px;
    opacity:0;
    outline:none;
    transition:opacity .3s,visibility .3s;
    visibility:hidden;
    width:100%;
    z-index:2}

.shepherd-enabled.shepherd-element{opacity:1;visibility:visible}
.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered){opacity:0;pointer-events:none;visibility:hidden}
.shepherd-element,.shepherd-element *,.shepherd-element :after,.shepherd-element :before{box-sizing:border-box}
.shepherd-arrow,.shepherd-arrow:before{position:absolute;width:16px;height:16px;z-index:-1}
.shepherd-arrow:before{content:"";transform:rotate(45deg);background:#fff}
.shepherd-element[data-popper-placement^=top]>.shepherd-arrow{bottom:-8px}.shepherd-element[data-popper-placement^=bottom]>
.shepherd-arrow{top:-8px}
.shepherd-element[data-popper-placement^=left]>.shepherd-arrow{right:-8px}.shepherd-element[data-popper-placement^=right]>
.shepherd-arrow{left:-8px}
.shepherd-element.shepherd-centered>.shepherd-arrow{opacity:0}
.shepherd-arrow:before{background-color:#e6e6e6}
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,.shepherd-target-click-disabled.shepherd-enabled.shepherd-target *{pointer-events:none}
.shepherd-modal-overlay-container{height:0;left:0;opacity:0;overflow:hidden;pointer-events:none;position:fixed;top:0;transition:all .3s ease-out,height 0ms .3s,opacity .3s 0ms;width:100vw;z-index:1}
.shepherd-modal-overlay-container.shepherd-modal-is-visible{height:100vh;opacity:.5;transition:all .3s ease-out,height 0s 0s,opacity .3s 0s}
.shepherd-modal-overlay-container.shepherd-modal-is-visible path{pointer-events:all}