/* General styles */

* { 
    margin: 0px;
    color: white;
    font-family: 'proxima-nova', sans-serif;
}

body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    background-color: #353535; 
}

h1{
   font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
   font-weight: normal;
}

.rightSideWrapper {
    width: 85%; /*same as header*/
	float: right;
}

header {
    position: fixed;
	width: 85%;	
	height: 120px;  
    background-color: #292929;
}

.sidebar {
    position: fixed; 
	height: 100%;
	width: 15%; /*same as header minus 100%*/
	margin: 0px;
    background-color: #000;  
}

#sidebarTitle {
    font-size: medium;
    border-bottom: 2px solid white;
    margin: 20px auto auto 20px;
    width: 150px;
}

#headerTitle {
    font-size: medium;
    border-bottom: 2px solid white;
    margin: 20px auto 5px 60px;
    width: 300px;
}

main {
    height: 400px;
    order: 1;
    flex: 0 1 100%;
}

.viz-container{
    margin-top: 120px; /*same as header height*/
	display: flex;
	flex-flow: row wrap;
}

/* Menu style */

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px auto auto 20px;
    font-size: 22px;
}

li {
    padding-bottom: 5px;
}

li:hover {
    cursor: pointer;
}

li.selected { 
    color: #1db954;
    font-weight: 550;
}

/* Header Styles */

form {
    display: flex;
    flex-flow: column wrap;

}

.suggestboxes {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.suggestbox {
    margin: 5px auto 5px 90px;
}

.datepickers {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.datepicker {
    margin: 0px auto 5px 85px;
}

input {
    background-color: #292929;
    border: none;
    border-bottom: 1px solid white;
    margin: 5px;
}

/*Trick to overlaps browser radio button, since we can't change the style*/
input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: 292929;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #1db954;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

/*------------------------------------------------------*/

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input:focus {
    outline: none;  
}

option {
    color: black;
}

/* Visualisation styles */

.titre-viz {
    font-size: 20px;
}

.date-viz {
    font-size: 12px;
}

.legend.max, .legend.min {
    font-size : 12px;
}





